@font-face {
  font-family: 'poppins';
  src: url('../fonts/Poppins-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Poppins-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Poppins-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Poppins-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Poppins-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
body{ font-family:poppins;line-height: 0; }

a,a:hover,a:visited,a:active{outline:none !important; text-decoration:none !important}

/** Header **/
.navbar-fixed-top {
    border: none;
}
.navbar-header {
    height: auto !important;
}
.header_bar{
    height: auto !important;
	display:inline-block;
	width: 100%;
    padding-right: 25px;	
}
.mngmnt_msg_main{padding:20px 0px}
.mngmnt_msg h1{font-family:poppins;font-size:28px;color:#018503;font-weight:normal; margin-bottom:30px}
.mngmnt_msg p{font-family:poppins;font-size:14px;color:#999999; line-height:24px; text-align:justify}
.mngmnt_msg img{ width:100%; margin-bottom:10px}
.dwnld_brchr{background:#272727; padding:20px 0px}
.dwnld_brchr p{color:#999; line-height:45px; font-size:17px}
.dwnld_brchr span{color:#fff; font-size:30px}
.dwnld_brchr a{color:#fff;background:#00ba03; padding:9px 42px 9px 42px;transition-duration:1s;border:1px solid #018503;}
.dwnld_brchr a:hover{color:#017803;background:#fff;padding:9px 42px 9px 42px;border:1px solid #018503;transition-duration:1s;}
.client{padding:20px 0px}
.client h1{font-size:30px;font-weight:bold;color:#017803;text-align:center;}
.fixd_service{position:absolute;top:0px;right:0;height:576px;width:140px;background:#060;}
.fixd_service_head{height:70px;background:transparent;line-height:70px;text-align:center;color:#fff;}
.fixd_service_item1{height:83px;background:#017803;line-height:15px;text-align:center;color:#fff;font-size:12px;padding:14px;}
.fixd_service_item2{height:83px;background:#006600;line-height:15px;text-align:center;color:#fff;font-size:12px;padding:14px;}
.navbar-brand{height: auto !important;}
header {
    width: 100%;
    background: #2e2e2e;
    display: inline-block;
	border-bottom:4px solid #017803;
	z-index: 20;
    position: relative;
}
.skdslider {
    margin-top: 0px;
    z-index: 0;
}
.logo{
	float:left;
    height:90px;
    background:#d5d5d5;
    padding-left:110px;
    padding-right:75px;
	}
/*:after{
	width:100px;
	height:auto;
	background:#903;
	}*/
	

.logo::after {
    content: " ";
    position: absolute;
    display: block;
    width: 70px;
    height: 90px;
    left: 375px;
    z-index: 0;
    transform: skew(-144deg, 0deg);
    background: rgb(213, 213, 213);
}
.logo img {
    max-width: 100%;
}
.position {
    padding-top: 95px;
}
.main_menu {
    padding: 20px 0px;
    float: right;
    margin-top:40px;
}

.main_menu ul {
    margin: 0;
}
.main_menu ul li {
    display: inline-block;
}

.main_menu ul li a {
    color: #6c6c6c;
       padding: 48px 20px 19px 20px;
}
.main_menu .active,
.main_menu ul li a:hover {
    color: #fff;
    text-decoration: none;
}
.nav_trigger {
    display: none;
    font-size: 23px;
    color: #079b18;
    border: 1px solid #079b18;
    text-align: center;
    width: 40px;
    height: 35px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 28px;
    border-radius: 3px;
    -o-transition: all 0.2s easer-out;
    -moz-transition: all 0.2s easer-out;
    -webkit-transition: all 0.2s easer-out;
    transition: all 0.2s easer-out;
    z-index: 5000;
    background: #fcfcfc;
    line-height: 37px;
}
.nav_trigger:hover {
    color: #fff;
    border: none;
    background: #079b18;
}
.active a {
   color: #ffffff !important;
    background: #017803;
}
/** End Header **/
/**banner css**/
.more {
    color: #fff;
    background: #03a103;
	border: 1px solid #03a103;
    padding: 12px 45px;
    margin-top: 10px !important;
    float: left;
	text-decoration:none;
}
.more:hover {
	color: #fff;
    background:transparent;
	border: 1px solid #2AFF00;
	text-decoration:none;
}
.position {
   padding-top:20px;
   padding-bottom: 50px;
   line-height:22px
}
#contact h1,#career h1 {
    font-size: 30px;
    font-weight: bold;
    color: #017803;
    text-align: center;
}
.about_head{ line-height:22px}
#contact p, #career p {text-align: center;}
.about_right{ padding-top:75px; text-align:center}
.about_right a,.services_head a{color:#fff;background:#017803; padding:9px 42px 9px 42px;transition-duration:1s;}
.about_right a:hover,services_head a:hover{color:#017803;background:#fff;padding:9px 42px 9px 42px;border:1px solid #018503;transition-duration:1s;}
#about h1{font-size:30px;font-weight:bold;color:#017803;text-align:center;}
.about_right h2{font-size:26px;font-weight:bold;text-align:center;}
#about p{text-align: center;line-height:27px; color:#999;font-weight:normal;margin-bottom: 35px;}
#about img{width:100%;}
.services_head{ text-align:center}
.services_head h1{font-size:35px; color:#018503; text-align:left}
.services_head p{text-align:justify !important;margin-top:25px;margin-bottom:35px; line-height:24px}
#servive{background:url("../images/service_bg.jpg") center;background-attachment:fixed;background-size:cover;padding:75px 0px;line-height:22px}

#servive p{ color:#afafaf}
.service_item{ min-height:260px}
.service_item h4{color:#afafaf;text-align:center;line-height:27px;text-transform: uppercase;}
.service_item img{ width:100%;}
/**contact page**/
.Enqry input[type=text],.Enqry select[type=text],.Enqry input[type=email],.Enqry input[type=password],.Enqry input[type=file],.Enqry input[type=number] {width:100%;height:40px;border-radius:5px;-webkit-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;-moz-border-radius:5px;border:1px solid #dedede;padding-left:10px;background:#fff;margin-bottom:15px;font-size:14px;color:#000;outline:none}
.Enqry input[type=text]:focus,.Enqry select[type=text]:focus,.Enqry input[type=email]:focus,.Enqry input[type=password]:focus,.Enqry input[type=file]:focus{background:#fff; border:1px solid #017803}
.Enqry textarea{max-width:100%;min-width:100%;max-height: 170px;min-height: 170px;border-radius:5px;-webkit-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;-moz-border-radius:5px;border:1px solid #dedede;padding-left:10px;background:#fff;margin-bottom:15px;font-size:14px;color:#000;padding-top:10px;outline:none; resize:none;padding-top:20px;}
.Enqry textarea:focus{background:#fff; border:1px solid #017803}
.refrsh{width:50px;height:50px;float:left;margin:0px 15px 0px 15px;transition-duration:1s;cursor:pointer;-webkit-transition-duration:1s;}
.refrsh:hover{transform:rotate(360deg);transition-duration:1s;cursor:pointer;-webkit-transition-duration:1s;}
.more1{width:130px;height:36px; border-radius:5px;background:;text-align:center;line-height:36px;float:right; margin-top:10px;text-decoration:none;color:#005c6d;padding:0;}
.more1{width:130px;height:36px; border-radius:6px;background:#fff;text-align:center;line-height:36px;text-transform:uppercase;float:right; margin-top:10px;text-decoration:none;color:#037e1a;padding:0; border:1px solid #005c6d;transition-duration:1s; border: 1px solid #ccc; outline:none}
.more1:hover{color:#fff;background:#006600;border: 1px solid #006600;text-decoration:none; transition-duration:1s}
.cont_sbmt{width:140px !important}
/**********careers*************/
.career_main,.career_main_inner{ margin-top:40px;/* background:#9F0*/line-height:22px}
.clndr{width:70px;height:70px;background:#005C6D;border-radius:50px;font-family:'Times New Roman',Times,serif;font-size:26px;color:#fff;text-align:center;line-height:18px;padding-top:15px;clear:both;float:left;margin-right:10px;margin-bottom:5px;margin-top: 5px;}
.career_main h1,.career_main_inner h1{font-size: 22px; line-height:24px}
.career_items{padding:0; margin-top:10px;margin-bottom:35px;}
.career_head{border-top:1px dashed #DCDADA;border-bottom:1px dashed #DCDADA;}
.career_place{ padding:0;height:25px;text-align:right; font-size:13px;font-family: poppins;margin-top: 10px;}
.career_main p,.career_main_inner p{font-family:Raleway; font-size:13px; color:#9C9A9A; line-height:18px; text-align:justify; padding:20px 10px}
.career_images{height:255px; overflow:hidden; text-align:center;width: 100%;}
.career_main img{width:90%;  text-align:center}
.career_images_inner{height:auto; overflow:hidden; text-align:center;width: 100%;}
.career_main span{ font-family:Arial, Helvetica, sans-serif;}
.career_head h1{
    font-size: 21px !important;
    font-weight: normal !important;
    color: #000000 !important;
    text-align: left !important;
}
.tab-content{ line-height:24px; font-family:poppins;color:#898989;text-align:justify;padding-right: 28px;}
/*Footer part CSS*/
.foot-row{}
footer {
	width: 100%;
	background: #272727;
}
.foot-row{}
.tab_2 {
	/*padding: 0px 30px;*/
	padding-top: 20px;
}

.bw img {
	max-width: 100%;
}

.bw {
	text-align: center;
	padding-left: 0 !important;
}

.col-bord {
	/*padding: 16px 0px;*/
}

.con_head {
font-size: 19px;
font-weight: normal;
color: #fff;
 text-transform:uppercase;
 margin-bottom: 20px !important;
}

.addrs {
	margin: 0 auto;
	padding-left: 0 !important;
	color: #898989;
	font-size: 14px;
	font-weight:normal;
}
.addrs img{ margin-right:10px}
.addrs span{ margin-left:38px}
ul {
	margin: 0;
	padding: 0;
}

/*Footer Navigation part CSS*/
.foot_nav_scnd{ margin-top:37px ;}
.foot_nav {
	color: #efefef;
}

.foot_nav > ul > li {
	list-style: none;
}

.foot_nav > ul > li > a {
	color: #898989;
	line-height: 28px;
}

.foot_nav > ul > li > a:hover {
	text-decoration: none;
	color: #FFF;
}
.footer_bottom{ background:#0c0c0c}
.foot-row {
	padding:25px 0px;
	
}

.foot_bar {
	line-height: 50px;
	color: #efefef;
	text-align: center;
}

.copy {
	/*float: left;*/
}

.powd {
	float: right;
}

.modal-body {
    position:relative;
    padding:20px 30px;
    line-height:24px;
    text-align:justify;
    color:#898989;
}
.modal-body img{
    max-width: 100%;
    margin-bottom: 20px;
}
.modal-header{
    font-size: 24px;
    padding: 0px 35px;
}
.modal-title{
    font-size: 24px;
    color: #04b90c;
    padding-top: 20px;
}
.modal-header .close{
    margin-top: 29px;
	
}
/**About us Page**/
.about_inner_main{margin-bottom:20px; line-height:27px;}
.about_inner{margin-top:35px;padding:0;}
.about_inner p{font-size:14px; color:#898989; text-align:justify !important}
.about_inner_right{margin-top:50px;padding:0}
.vision_mision{background:#017803;}
.about_mission{line-height:27px;}
.about_mission h3{color:#fff}
.about_mission p{font-size:14px;color:#bbffbc;text-align:justify !important}
.about_inner_right img{width:100%}
.service_inner_right{margin-top:0px;padding:0}
.service_inner_right img{width:100%}


#about h5{text-align:center;color:#09bcd4;margin:30px auto;font-size:35px;text-transform:uppercase;border-bottom:1px dashed #898989;border-top:1px dashed #898989;padding:6px 10px 1px 10px;}

/**contact Page**/
#contact_banner{padding:0 !important;margin-bottom:20px;}
#contact_banner img{width:100%}

@media only screen and (max-width:1300px) {
	.fixd_service_item1,.fixd_service_item2{height:60px;padding:5px;}
}
@media only screen and (max-width:1200px) {
.fixd_service {height: 512px !important;}
}
@media only screen and (max-width:1100px) {
	.logo::after {display:none;}
	.fixd_service {height:469px !important;}
}
@media only screen and (max-width:1050px) {
	.fixd_service_item1, .fixd_service_item2 {height:50px;padding:5px;font-size:11px;line-height:10px};
}
@media only screen and (max-width:1029px) {
	.logo {padding-left:45px;padding-right:45px;}
}
@media only screen and (max-width:991px) {
	.main_menu ul li a {color:#6c6c6c;padding:8px 20px 8px 20px;}
	.position {padding-top:20px !important;}
	.service_item{min-height:265px;}
	.about_right{padding-top:5px;}
	.fixd_service {height:400px !important;}
	
}
@media only screen and (max-device-width:940px) {
	.fixd_service_head {height:40px;line-height:45px;}
	.fixd_service {height:369px !important;}
}
@media only screen and (max-device-width:860px) {
	.fixd_service { display:none}
	.skdslider a.next{right:2% !important;}
}
@media only screen and (max-device-width:767px) {
	.tabs-left{border-right:none !important;}
	.tab-content { padding-top:20px;}
	.tabs-left > li.active > a, .tabs-left > li.active > a:hover, .tabs-left > li.active > a:focus{border-right-color:#ddd !important}
	footer{text-align: center !important;}
}
@media only screen and (max-device-width:599px) {
	#amazingcarousel-container-1{padding: 0px 60px 50px 60px !important;}
	.skdslider{margin-top:0px !important}
}
@media only screen and (max-device-width:400px) {
	.logo {width:250px;height:66px;}
}
