@media only screen and (max-device-width:767px) {
    .nav_trigger {
        display: block;
    }
    .main_nav {}
    .main_menu {
        display: none;
        bottom: 0;
        width: 100%;
        margin-top: 0;
        padding-top: 0px;
    }
    .main_menu ul {
        margin-top: 19px;
        padding-left: 0;
        float: none;
    }
    .main_menu ul li {
        display: list-item;
        list-style: none;
        text-align: center;
        padding: 0px 0px;
    }
    .main_menu ul li:hover {}
    .main_menu ul li a {
        padding:18px 0px 15px 0px;
        display: block;
    }
    .main_menu ul li a:hover {
        text-decoration: none;
        color: #fff;
    }
    .Service_icon{
        margin: 0 auto;
        border-right: 1px solid #999;
    }
    .Service_icon:after{
        display: none;
    }
    .service_box{
        padding-top: 0;
        width: 100%;
    }
}
@media (max-width: 500px) {
	.slide-desc p{ display:none !important}
	.skdslider {
		width: 100%;
		position: relative;
		display: block;
		overflow: hidden;
		margin-top:0px;
	
	}	
	.slide-navs{ display:none}
	.more {padding: 4px 13px;}
}
@media only screen and (max-device-width:400px) {
    header{height:auto;}
    .logo{width:80%;}
	.skdslider{margin-top:0px;}
}
@media screen and (min-width:768px) and (max-width:991px){
    .container{width:95%;}
    .main_menu{margin-top: 0;width: 100%;text-align: center;}
    .navbar-brand{
        width: 100%;
        padding: 0;
    }
.logo {
    width: 100%;
    display: inline-block;
    margin-top: 15px;
    padding: 0;
    margin-left: 1.3%;}
    .logo img{
        margin: 0 auto;
    }
    .position{
        padding-top: 115px;
    }
    .Service_icon:after{
        display: none;
    }
    .Service_icon{
        border-right: 1px solid #999;
    }
    .service_box{
        min-height: 245px;
    }
}
@media screen and (min-width:992px) and (max-width:1199px){
    .Service_icon{
        width: 47px;
    }
}