#vlightbox1 {
	width:100%;
	zoom:1;
	text-align: center;
	margin-bottom:40px;
}
#vlightbox1 img{    width: 279px !important;
    height: 180px !important;}
#vlightbox1 .vlightbox1 div{
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:#000 url(zoom-in.png) 50% 54% no-repeat;
	opacity:0.6;
	color:#FFF;	
}
#vlightbox1 .vlightbox1 {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
	position:relative;
	vertical-align:top;
	margin:5px;
	width:279px;
	height:auto;
	font-family:Trebuchet,Tahoma,Arial,sans-serif;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	outline:none;
}

#vlightbox1 .vlightbox1 a{
	margin:0;
}
#vlightbox1 .vlightbox1 img{
	display:block;
	border:none;
	margin:0;
	width: 100%;
	height:auto;
}
#vlightbox1 .vlightbox1 div {display:none}
